.note {
    padding: 5px;
    border: 1px solid black;
    @include shadow();
}

.panel-title {
    margin-bottom: 5px;
}

form textarea {
    display: none;
}

.note-preview {
    max-height: 200px;
    position: relative;
    overflow: hidden;
}

.note-preview .fader {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 50px 0;

    background-image: linear-gradient(to bottom, transparent, white);
}